<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740108633967-7vadnv7q1ditkllj850gkcktlnka2jea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740108633967-7vadnv7q1ditkllj850gkcktlnka2jea</string>
	<key>API_KEY</key>
	<string>AIzaSyBQUL23sdI8VrFX1zYG9sn-bDLfMEUY_rI</string>
	<key>GCM_SENDER_ID</key>
	<string>740108633967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instgramClone</string>
	<key>PROJECT_ID</key>
	<string>instagran-clone-d9fbe</string>
	<key>STORAGE_BUCKET</key>
	<string>instagran-clone-d9fbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740108633967:ios:74988cabd632c304020a9a</string>
</dict>
</plist>